@if (loading) {
  <app-loading></app-loading>
} @else {
  <main class="flex flex-col items-center">
    <div class="mt-12 text-center">
      <div class="text-6xl bg-gradient-to-br from-blue-600 to-fuchsia-400 bg-clip-text text-transparent font-bold p-4">HeroDex Manager</div>
      <div class="text-muted-foreground text-xl mt-4">Gerencie seu universo de super-heróis com poder e precisão</div>
    </div>
    <div class="flex mt-12 w-full justify-center gap-40">
  
      <div class="flex w-1/4 flex-col items-center gradient-card rounded-xl shadow-card p-4 gap-4" style="border: 1px solid rgba(255, 255, 255, 0.1);">
        <div class="flex items-center text-lg w-full justify-between">
          <div>Total de heróis</div>
           <lucide-icon [img]="Users" class="h-8 text-blue-600 w-8"></lucide-icon>
        </div>
        <div class="w-full text-3xl">{{ totalHeroes }}</div>
      </div>
  
      <div class="flex w-1/4 flex-col items-center gradient-card rounded-xl shadow-card p-4 gap-4" style="border: 1px solid rgba(255, 255, 255, 0.1);">
        <div class="flex items-center text-lg w-full justify-between">
          <div>Total de poderes</div>
           <lucide-icon [img]="Zap" class="h-8 text-yellow-600 w-8"></lucide-icon>
        </div>
        <div class="w-full text-3xl">{{ totalPowers }}</div>
  
      </div>
    </div>
    <div class="mt-6">
      <img src="superhero.png" style="height: 350px;" alt="">
    </div>
  </main>
}
